.exhibition-section{
    position: relative;
    background: linear-gradient(180deg, #33155c 60%, #3F186A 150%);
    padding: 80px 0 6px 0px;
    overflow: hidden;
}
.exhibition-section_round{
    border-bottom-left-radius: 50% 120px;
    border-bottom-right-radius: 50% 120px;
    padding: 20px 0 130px;
    background: linear-gradient(#000E38,#3F186A) ;
    width: 100%;
    height: 80px;
    margin-bottom: 60px;
}
.exhibition-section::after{
    content: "";
    position: absolute;
    left: -50%;
    bottom: -200px;
    transform: translateX(-50px);
    height: 420px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}
.exhibition-section h2{
    text-align: center;
    color: #fff;
    font-size: 34px;
    padding-bottom: 50px;
}
.exhibition-section_container{
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.exhibition-section_card{
    background: linear-gradient(#EDDDFF);
    border-radius: 16px;
    border: 2px solid #755797 ;
    height: 310px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    flex-direction: column;
    flex: 0 0 330px;
}
.exhibition-section_card_img{
    height: 75px;
    width: 75px;
    padding-top: 10px;
}
.exhibition-section_card h4{
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5;
   padding-top: 18px;
   color: #120B4F;
}

.exhibition-section_card p{
   font-size: 16px;
   line-height: 1.5;
   padding-top: 18px;
   color: #120B4F;
}
.arrow-action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    gap: 24px;
}
.arrow-action img{
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
}
.arrow-action img:hover{
    background: #bbb7b7;
}