
.isolation-box{
    margin:30px 0;
    margin-bottom: 30px;
}
.isolation-container{
    display: flex;
    align-items: center;
    justify-content:center;
    align-items:center;
    gap: 2px;
}
.isolation-cards{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}
.isolation-container img{
   width: 60px;
   height: 120px;
   display: block;
}
.isolation-content{
    margin: 0;
    text-align: center;
    line-height: 1.3;
}
.isolation-content p{
    letter-spacing: 1px;
    text-align: center;
    font-size: 22px;
    background: linear-gradient( to right, #0344A2, #010E39);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}
.isolation-content h3{
    background: linear-gradient( to right, #0344A2, #010E39);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    font-size: 22px;
     margin: 0;
}

@media (min-width: 320px) and (max-width: 479px){
   .isolation-container img{
   width: 40px;
   height: 80px;
}

.isolation-content p, .isolation-content h3{
    font-size: 16px;
}
.isolation-cards{
    gap:30px;
}
.isolation-box{
   margin: 20px 10px 20px 10px;
}
}







/* Background Image css */

img{
    display: block;
    max-width: 100%;
}
.appointment-hero{
    overflow: hidden;
    background: #E8D8FF;
}
.appointment-hero_container{
    display: flex;
    align-items: center;
    min-height: 600px;
}

.appointment-hero_content{
    width: 50%;
    /* padding: 80px; */
    position: relative;
    z-index: 2;
    padding-left: 70px;
}

.appointment-hero_eyebrow{
    font-size:26px;
    color: #7E4CE6;
    font-style: italic;
    margin-bottom: 4px;
}
.appointment-hero_title{
    font-size: 55px;
    line-height: 1.3;
    font-weight: 500;
    color: #1B0B56;
    margin-bottom: 10px;
}

.appointment-hero_subtitle{
    font-size: 26px;
    font-style: italic;
    color: #7E4CE6;
    margin-bottom: 45px;
}

.appointment-hero_button{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid #010E39;
}
.appointment-hero_button-icon{
    width: 46px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #23145E;
    color: #fff;
    font-size: 24px;
}

.appointment-hero_button-text{
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #23145E;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .5px;
}

.appointment-hero_image{
    width: 70%;
    position: relative;
}
.appointment-hero_image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.appointment-hero_image::before{
    content: "";
    position: absolute;
    left:-150px;
    top:0;
    width: 420px;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
         90deg,
        #E8D8FF 0%,
        rgba(232,216,255,.95) 20%,
        rgba(232,216,255,.80) 45%,
        rgba(232,216,255,.45) 70%,
        transparent 100%
    );
       filter:blur(35px);
       
}
.appointment-hero__button:focus-visible{
    outline:3px solid #000;
    outline-offset:4px;
  
}

   
